/*************** Reset *********************/
* {
  margin: 3px;
  padding: 3px;
  box-sizing: border-box;
}

body {
  background-color: lightskyblue;
  color: darkred;

  border-radius: 4px;
  margin: 1px;
  padding: 1px;
  display: block;
}

nav {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}

nav li a {
  text-decoration: none;
  color: darkred;
  font-weight: bold;
  border: 3px solid darkred;
  padding: 5px 10px;
  border-radius: 4px;
  display: block;
}

h1 {
  font-size: 40px;
  font-family: "Playfair Display", serif;
  font-style: normal;
  text-align: center;
}

h2 {
  font-size: 20px;
  font-family: "Playfair Display", serif;
  font-style: normal;
  text-align: center;
}

h3 {
  font-size: 20px;
  font-family: "Playfair Display", serif;
  font-style: normal;
  text-align: center;
}

dt {
  font-family: "Playfair Display", serif;
  font-style: normal;
  text-align: center;
  font-weight: bolder;
}

dl {
  font-size: 15px;
  font-family: "Playfair Display", serif;
  font-style: normal;
  text-align: center;
}

li {
  font-size: 16px;
  font-family: "Libertinus Serif Display", system-ui;
}

p {
  font-size: 16px;
  font-family: "Libertinus Serif Display", system-ui;
  text-align: center;
}

a {
  text-decoration: none;
  color: darkred;
  font-weight: bold;
  border: 3px solid darkred;
  padding: 5px 10px;
  border-radius: 4px;
  display: block;
  align-items: center;
  text-align: center;
}

img {
  width: 250px;
  height: auto;
  margin: 0 auto;
  padding: 7px;
  border-radius: 5px;
  display: block;
}
footer {
  font-size: 12px;
}
